@model EntityLayer.Concrete.Role
@{
    ViewBag.Title = "AddRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Rol Ekleme Sayfası</h1>
<br />
@using (Html.BeginForm("AddRole", "Role", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Rol Adı")
        @Html.TextBoxFor(x => x.RoleName, new { @class = "form-control" })
        <br />
        @Html.Label("Rol Açıklaması")
        @Html.TextBoxFor(x => x.RoleDescription, new { @class = "form-control" })
        <br />
        <button class="btn btn-info">Kaydet</button>
    </div>
}


