<button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Yeni Hakkımızda Yazı Girişi
</button>

<div class="modal fade" id="Modal1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Hakkımızda Metin Girişi</h2>
            </div>
            <form method="post" action="/About/AddAbout/">
                <div class="modal-body">
                    <label>Hakkımda Başlık</label>
                    <input type="text" name="AboutTitle" class="form-control" />
                    <br />
                    <label>Hakkımda Metin</label>
                    <input type="text" name="AboutDetails" class="form-control" />
                    <br />
                    @*<label>Hakkımda Görsel</label>
                        <input type="text" name="AboutImage" class="form-control" />
                        <br />*@
                    <div class="form-group">
                        <div class="form-group">
                            <label for="exampleInputEmail3">Hakkımda Görsel</label>
                            <div class="col-lg-8">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="input-append">
                                        <div class="uneditable-input">
                                            <i class="fas fa-file fileupload-exists"></i>
                                            <span class="fileupload-preview"></span>
                                            <span class="btn btn-default btn-file" style="margin-left:10px">
                                                <span class="fileupload-new">Dosya Seçiniz</span>
                                                <input type="file" name="AboutImage" required />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info">Kaydet</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>