@using EntityLayer.Concrete
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımda Veri Listesi</h2>
<table class="table table-hover">
    <tr>
        <th hidden>ID</th>
        <th>Hakkımda Başlığı</th>
        <th>Hakkımda Görsel</th>
        <th>Durum</th>
        <th>Aktif Yap</th>
        <th>Pasif Yap</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td hidden>@item.AboutID</td>
            <td>@item.AboutTitle</td>
            <td><img src="~/AdminLTE-3.0.4/resimlerim/@item.AboutImageYol"/></td>
            <td>@item.AboutStatus</td>
            <td><a href="/About/ActiveAbout/@item.AboutID" class="btn btn-warning">Aktif Yap</a></td>
            <td><a href="/About/PassiveAbout/@item.AboutID" class="btn btn-danger">Pasif Yap</a></td>
        </tr>
    }
</table>

@Html.Action("AboutPartial","About")

<script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
