
@{
    Layout = null;
}

<h3>MVC Kampı Tablo Örneği - Kategori</h3>
<br />
<table>
    <tr>
        <th>Kategori ID</th>
        <th>Kategori Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açiklamaa</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Açiklamaa</td>
        <td>True</td>
    </tr>
</table>
